body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.hidden {
  display: none;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
}

.root {
  display: flex;
  justify-content: center;
}

.input-block {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.input-block label {
  display: flex;
  align-items: center;
  width: 30%;
  margin: 0;
}

.input-block label > input {
  margin-left: 10px;
}

.input-block select {
  width: 50%;
}

.output {
  font-weight: bold;
  color: #ff8a8a;
}